body {
    font-family: 'Varela Round';
}

table {
    border-collapse: collapse;
    margin: 5px;
    float: left;
}

td {
    text-align: center;
    vertical-align: middle;
    width: 20px;
    height: 20px;
}

td.ocean {
    background-color: lightblue;
    border: 1px solid darkblue;
    color: darkblue;
}

td.radar {
    background-color: lightgreen;
    border: 1px solid darkgreen;
    color: darkgreen;
}

td.ship {
    background-color: lightgrey;
    border: 1px solid dimgrey;
    color: dimgrey;
}