body {
    font-family: 'Varela Round';
}

table {
    border-collapse: collapse;
    margin: 5px;
    float: left;
}

td {
    background-color: LightBlue;
    border: 5px solid Navy;
    /* background-color: PaleGreen; */
    /* border: 5px solid DarkGreen; */
    text-align: center;
    vertical-align: middle;
    width: 20px;
    height: 20px;
}